.container{
    margin-top: 30px;
}

.profile {
    display: flex;
}

.profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.user-profile img{
    width: 45px;
    height: auto;
    border-radius: 100%;
}